In [1]:
print('nice')

nice

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os as os

In [6]:
df = pd.DataFrame({'xx':[12,13,14],'xy':[22,23,24]})
df

   xx  xy
0  12  22
1  13  23
2  14  24

In [7]:
print('jup noteb work!')

jup noteb work!